h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display:flex;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}
.android{
	transition: all 1s ease-in-out;
}
.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	transition: 1s ease-in-out;
	position:relative;
} 
.android:hover .mouth{
	transform: scaleX(2)
}

.eyes {
display: flex;	
}

/* .head:hover {
	width: 300px;
    
} */

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	transition: all 1s;
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 
.android:hover .left_arm{
	transform-origin: 0% 0%;
	transform: rotate(170deg) translateX(-50px);
}
.android:hover .right_arm{
	transform-origin: 0% 0%;
	transform: rotate(-170deg) translateX(-30px);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display:flex
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 
.pupils {
	width: 10px;
    height: 10px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    top: 10px;
	left: 5px;
	transition:all 1s linear;
}
.pupils:hover{
	transform-origin: left top;
	transform: rotate(360deg);
}
.android:hover .pupils{
	transform-origin: left top;
	transform: rotate(360deg);
}
.brows{
	position: absolute;
    width: 35px;
    height: 10px;
    background-color: transparent;
    box-shadow: inset 0px 4px 0 0px #000;
    border-radius: 50%;
    top: -10px;
	left: -5px;
	transition: all 1s;
}
.android:hover .brows{
	transform: translateY(-20px);
}
.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

.mouth {
    width: 35px;
    height: 17px;
    border-top: 2px solid red;
    border-bottom: 3px solid red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #fff;
    position: absolute;
    top: 84%;
    left: 41%;
    transition: transform 1s;
}




